<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ch.lipsch.deshortener" android:versionCode="2"
	android:versionName="1.0.3">
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<application android:icon="@drawable/launcher" android:label="@string/app_name">
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".DeshortenerActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="bit.ly" />
				<data android:scheme="http" android:host="canurl.com" />
				<data android:scheme="http" android:host="fb.me" />
				<data android:scheme="http" android:host="goo.gl" />
				<data android:scheme="http" android:host="is.gd" />
				<data android:scheme="http" android:host="ow.ly" />
				<data android:scheme="http" android:host="plurl.us" />
				<data android:scheme="http" android:host="snipurl.com" />
				<data android:scheme="http" android:host="snurl.com" />
				<data android:scheme="http" android:host="t.co" />
				<data android:scheme="http" android:host="tinyurl.com" />
			</intent-filter>
		</activity>
	</application>
</manifest>